
<div class="signup" >
  <h1>Create an Account</h1>
  
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()"  class="example-form">

    <app-input
    label="Username"
    type="text"
    [control]="authForm.get('username')">
    </app-input>
    {{authForm.get("username")?.errors | json}}

    <app-input
    label="Password"
    type="password">
    [control]="authForm.get('password')"
    </app-input>

    <app-input
    label="Confirm Password"
    type="password"
    [control]="authForm.get('passwordConfirmation')">
    </app-input>


    <button 
    class="button"
    type="submit"
    mat-raised-button color="primary">
      Submit
    </button>

    <p>
      Already have an account?
      <a routerLink="">
        Sign in
      </a>
      instead
    </p>
  </form>
  
  {{authForm.value | json}}
  {{authForm.errors | json}}
</div>

