
<div class="signup" >
  <h1>Create an Account</h1>
  
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()"  class="example-form">

    <app-input
    label="Username"
    [control]="authForm.get('username')">
    type="text"
    </app-input>
    <!-- {{authForm.get("username")?.errors | json}} -->

    <app-input
    [control]="authForm.get('password')"
    label="Password"
    type="password">
    </app-input>

    <app-input
    label="Confirm Password"
    [control]="authForm.get('passwordConfirmation')"
    type="password"
    >
    </app-input>



    <!-- Form Level Errors -->
    <div 
    *ngIf=" authForm?.errors && authForm.get('password')?.touched
    && authForm.get('passwordConfirmation')?.touched" 
    class="ui red basic label">
      <p *ngIf="authForm?.errors?.['passwordsDoNotMatch']">
      Password and Password Confirmation must match
      </p>
      <p *ngIf="authForm?.errors?.['noConnection']">
      No internet connection detected, failed to sign up
      </p>
      <p *ngIf="authForm.errors?.['unKnownError']">
      Failed to sign up
      </p>
    </div>


    <button 
    class="button"
    type="submit"
    mat-raised-button color="primary">
      Submit
    </button>

    <p>
      Already have an account?
      <a routerLink="">
        Sign in
      </a>
      instead
    </p>
  </form>
<!-- 
  {{authForm.value | json}}
  {{authForm.errors | json}} -->
</div>

